@import 'styles/ngtt-styles.scss';

body {
  background-color: $ngtt-background-primary;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  padding: 50px 0;
  font-size: 150%;
}
